.input{
  width:289px;
  height:25px;
}
.button {
  width:25px;
background-color: lightpink;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;

margin: 4px 2px;
cursor: pointer;
}
.button{
  font-size: 15px;
  border-radius:8px;
  color: black; 
border: 2px solid #f44336;
     }
.button:hover {background-color: lightyellow}
.button:active {
background-color: lightyellow;
box-shadow: 0 5px #666;
transform: translateY(4px);
}
body{
  background-image:url("bgg.jpg") ;
  


}